.projects{
	padding: 25px;
	text-align: center;

	img{
		width: 300px;
		height: 300px;
		display: block;
		margin: 0 auto;
	}

	.row{
		margin: 25px 0px 25px 0px;
	}


	.cat{
	    position: absolute;
    	margin: 12px;
	    background-color: #00c7fc;
	    border: 1px solid #00b6e6;
	    padding: 0px 5px 0px 5px;
	    z-index: 3;
    	color: white;
	}


.over{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
	background-color: rgba(31, 174, 225, 0.89);
	//background: radial-gradient(circle,rgba(16,162,202,0.55),rgba(11,161,202,0.75),#09708c);
    color: white;
    text-align: left;
	padding: 15px;
	display:none;
}

.outer{
	display: table;
    margin: auto;

}

.over-title{
	margin-top: 60px;
	font-weight: 900;
}

.ingress{
	margin-top: 36px;
}

	button{
		margin: 47px 0px 32px 0px;
		background-color: #00c7fc;    	
    	border-radius: 17px;
	}
	button:hover{
		margin: 47px 0px 32px 0px;
	    background-color: #34adce;
	    border-radius: 17px;
	    border-color: #34adce;
		
	}

}