<div class="field social">
<div class="social-title">
	Vi är sociala 
</div>
{% for item in items %}
  <a href="{{ item.content }}"><img src="/{{ directory }}/images/icons/Icon-facebook.png"></a>
{% endfor %}