{#
{% if content %}
  <div{{ attributes }} style="display: inline;">
    {{ content }}
  </div>
{% endif %}
#}


{% if content %}
  <div{{ attributes }} class="flex-container">
    {{ content }}
  </div>
{% endif %}