
		<span  class="top glyphicon glyphicon-chevron-up"></span>
		<div id="hem" class="layout-container">

		  <header role="banner" class="header front-header navbar-fixed-top">
		          {{ page.header }}
		  </header>

		  <div class="front_page">
		    {{ page.front_page }}
		  </div>

		  <div >
		  	{{ page.footer }}
		  </div>


		</div>

 
    