

{{ test }}


<h1 style="color:red;"> first name : {{ node.sub.fname }} </h1>
<h1 style="color:red;"> last name : {{ node.sub.lname }} </h1>

<form action="" method="post">
	<input type="text" name="node[fname]">
	<input type="text" name="node[lname]"><br>
	<input type="number" name="node[num]">
	<input type="submit" name="">
</form>